<div class="layout">
    <div class="sidebar">
        <div class="top">
            <div class="name">
                Steve
                <br>
                Zelek
            </div>
            <div class="title">
                software developer
            </div>
        </div>
        <div class="categories">
            <div class="me">
                <div class="link">
                    <i class="icon fas fa-user"></i>
                    <span class="link-text">
                        Me
                    </span>
                </div>
            </div>
            <div class="apps">
                <div class="link">
                    <i class="icon fas fa-rocket"></i>
                    <span class="link-text">
                        Apps
                    </span>
                </div>
            </div>
            <div class="music">
                <div class="link">
                    <i class="icon fas fa-music"></i>
                    <span class="link-text">
                        Music
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="section-header">
            about me
        </div>
        <div class="columns">
            <div class="intro">
                <div class="lead">
                    I'm a computer scientist from Pennsylvania.
                </div>
                <div class="entry">
                    I work as a full stack developer at a company I love. I spend most of my free time teaching myself
                    new things. I'm addicted to side projects. If it's not challenging work with a positive impact, I'm
                    not interested.
                </div>
            </div>
            <div class="pic">
                <img src="assets/me.jpg">
                <div class="fade">

                </div>
            </div>
        </div>
    </div>
</div>