.layout {
    display: flex;
    flex-direction: row;
    height: 100%;

    .sidebar {
        width: 14rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        font-family: 'Cairo', sans-serif;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        z-index: 2;

        .top {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;
            border-bottom: 1px solid #c6c7c7;
            align-items: center;

            img {
                height: 9rem;
                border-radius: 50%;
            }

            .name {
                color: #465061;
                font-size: 2rem;
                line-height: 2.3rem;
                padding-top: .5rem;
            }

            .title {
                font-size: 1rem;
                color: #606263;
                font-family: 'Roboto', sans-serif;
            }
        }

        .categories {
            .me {
                background-color: #6599d7;

                .icon {
                    color: #6599d7;
                }
            }

            .apps {
                background-color: #f49d6c;

                .icon {
                    color: #f49d6c;
                }
            }

            .music {
                background-color: #b69fff;

                .icon {
                    color: #b69fff;
                }
            }

            .link {
                padding-left: 1.5rem;
                padding-top: .7rem;
                padding-bottom: .7rem;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                cursor: pointer;
                background-color: white;

                &.active,
                &:hover {
                    // background-color: #f1f1f1;
                    background-color: #eff6f9;
                    margin-left: .5rem;
                }

                .icon {
                    font-size: 1.7rem;
                    width: 1.8rem;
                }

                .link-text {
                    margin-left: .5rem;
                    color: #606263;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-header {
            font-size: 3rem;
            line-height: 3rem;
            padding: 1rem;
            font-weight: bold;
            font-family: 'Cairo';
            background-color: #84a1c5;
            color: white;
            box-sizing: border-box;
            width: 100%;
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;

            .summaries {
                position: absolute;
                top: 0;
                width: 100%;

                .summary {
                    font-family: 'Cairo';
                    font-size: 1.9rem;
                    line-height: 2rem;
                    background: white;
                    width: 100%;
                    border-bottom: 1px solid #c6c7c7;
                    padding: 1rem;
                    color: #465061;
                    box-sizing: border-box;
                }
            }

            .content {
                overflow-y: scroll;
                flex-grow: 1;
                position: relative;

                > * {
                    position: relative;
                    z-index: -1;
                }

                .filler {
                    height: 2000px;
                }

                .break {
                    width: 60%;
                    border-top: 1px solid #c6c7c7;
                    margin: 0 auto;
                }

                .columns {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1rem 1rem 3rem;

                    .pic {
                        height: 19rem;
                    }

                    .intro {
                        width: 60%;

                        .lead {
                            font-family: 'Cairo';
                            font-size: 1.9rem;
                            line-height: 1.9rem;
                            color: #465061;
                            padding: 1rem 0;
                        }

                        .entry {
                            &:not(:first-of-type) {
                                margin-top: 1rem;
                            }
                            color: #3d4654;
                            font-family: 'Cairo';
                            font-size: 1.2rem;
                            line-height: 1.9rem;
                        }
                    }
                }
            }
        }
    }
}
